{extend name='common/common'/}
<!-- 主内容区 -->
{block name='content'}
<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                {volist name="articleList" id="art" key='k'}
                {if condition="($k eq 1) || ($k eq 3) || ($k eq 5) || ($k eq 7)"}
                <div class="row">
                {/if}
                    <div class="col-md-6 col-sm-6 index-art">
                        <article class=" blog-teaser">
                            <header>
                                <img src="{$art.thumbnail}" alt="{$art.keywords}">
                                <h3><a href="{:url('Article/detail',['id'=>$art['id']])}">{$art.title}</a></h3>
                                <!--<span class="meta"></span>-->
                                <hr>
                            </header>
                        </article>
                    </div>
                {if condition="($k eq 2) || ($k eq 4) || ($k eq 6) || ($k eq 8)"}
                </div>
                {/if}
                {/volist}
            </div>
            <div class="paging">
                <a href="#" class="older">page</i></a>
            </div>
        </div>
        <div class="col-md-4 blog-aside">

            <div class="aside-widget">
                <header>
                    <h3>Hot Article</h3>
                </header>
                <div class="body">
                    <ul class="clean-list">
                        {volist name="hotArticles" id="hot"}
                        <li><a href="{:url('Article/detail',['id'=>$hot['id']])}">{$hot.title}</a></li>
                        {/volist}
                    </ul>
                </div>
            </div>

            <div class="aside-widget">
                <header>
                    <h3>Links</h3>
                </header>
                <div class="body">
                    <ul class="clean-list">
                        <li><a href="http://store.dreameb.com" target="_blank">鲜达洋</a></li>
                        <li><a href="http://apizza.cc/projects" target="_blank">Apizza</a></li>
                        <li><a href="http://www.liaoxuefeng.com" target="_blank">廖雪峰的官方网站</a></li>
                        <li><a href="" target="_blank">Clean - Responsive HTML5 Template</a></li>
                        <li><a href="" target="_blank">Responsive Pricing Table</a></li>
                        <li><a href="" target="_blank">Yellow HTML5 Template</a></li>
                    </ul>
                </div>
            </div>

            <div class="aside-widget">
                <header>
                    <h3>Tags</h3>
                </header>
                <div class="body clearfix">
                    <ul class="tags">
                        {volist name='tagList' id="tag"}
                        <li><a href="javascript:;">{$tag.title}</a></li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
