<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐库</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <style type="text/css">
        .music_img{height: 50px}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>音乐库</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-3 tag-a">
                <a href="{:url('music/musicadd')}"><button class="btn btn-outline btn-primary" type="button">添加音乐</button></a>
            </div>

            <div>
                <div>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <th data-field="id">Music ID</th>
                        <th data-field="title">名称</th>
                        <th data-field="singer">歌手</th>
                        <th data-field="img">图片</th>
                        <th data-field="create_time">创建时间</th>
                        <th data-field="operate">操作</th>
                        </thead>
                        {volist name='list' id='vo'}
                            <tr>
                                <td data-field="id">{$vo.id}</td>
                                <td data-field="title">{$vo.title}</td>
                                <td data-field="singer">{$vo.singer}</td>
                                <td data-field="img_path"><img class="music_img" src="{$vo.img_path}"/></td>
                                <td data-field="create_time">{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                <td data-field="operate">
                                    <a href="{:url('music/musicAdd',['id'=>$vo['id']])}"><button class="btn btn-primary btn-sm">编辑</button></a>
                                    <a href="javascript:;" onclick="musicDel({$vo.id})"><button class="btn btn-danger btn-sm">删除</button></a>
                                </td>
                            </tr>
                        {/volist}
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "{:url('tag/index')}", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    searchText:$('#title').val()
                };
                return param;
            },
            onLoadSuccess: function(res){  //加载成功时执行
                if(111 == res.code){
                    window.location.reload();
                }
                layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
//        initTable();

        //当点击查询按钮的时候执行
//        $("#search").bind("click", initTable);

    });

    function musicDel(id){
        layer.confirm('确认删除此音乐?', {icon: 3, title:'提示'}, function(index){
            //do something
            $.getJSON("{:url('music/musicDel')}", {'id' : id}, function(res){
                if(false !== res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }
</script>
</body>
</html>
