<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{$meta_title}-river的博客</title>
    <meta name="description" content="php,linux,mysql等工作中的经验和一些学习笔记">
    <!--强制页面在当前窗口以独立页面显示。用来防止别人在框架里调用你的页面-->
    <meta HTTP-EQUIV="Window-target" CONTENT="_top">
    <meta name ="keywords" content="linux,php,学习,media player">
    <meta name="author" content="river.m">
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="__IMG__/chujian.png" type="image/x-icon"/>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="__CSS__/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="__CSS__/style.css" id="theme-styles">

    <!--[if lt IE 9]>
    <script src="__JS__/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
    {block name='css'}{/block}
</head>
<body>
<header>
    <!-- 头部 -->
    {block name='header'}
    <div class="widewrapper masthead">
        <div class="container">
            <a href="{:url('Index/index')}" id="logo">
                <img src="__IMG__/logo.png" alt="clean Blog">
            </a>

            <div id="mobile-nav-toggle" class="pull-right">
                <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <nav class="pull-right clean-nav">
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills navbar-nav">

                        <li>
                            <a href="{:url('Index/index')}">Home</a>
                        </li>
                        <li>
                            <a href="{:url('Article/index',['type'=>1])}">Good Good Study</a>
                        </li>
                        <li>
                            <a href="{:url('Article/index',['type'=>2])}">休闲时刻</a>
                        </li>
                        <li>
                            <a href="javascript:;">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
    <div class="widewrapper subheader">
        <div class="container">
            <div class="clean-breadcrumb">
                <a href="javascript:;">Blog</a>
                <span class="separator">&#x2F;</span>
                <a href="javascript:;">Article</a>
                <!--<span class="separator">&#x2F;</span>-->
                <!--<a href="#">HTML Template</a>-->
            </div>


            <div class="clean-searchbox">
                <form action="{:url('Article/index')}" method="get" accept-charset="utf-8">
                    <input class="searchfield" id="searchbox" name="kwd" type="text" placeholder="Search">
                    <button class="searchbutton" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {/block}
</header>
<!-- 主内容区 -->
{block name='content'}

{/block}
<!-- 底部 -->
<footer>
    {block name='footer'}
    <div class="widewrapper footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget">
                    <h3> <i class="fa fa-user"></i>About</h3>
                    <p>php菜鸟一枚，也没什么远大理想，坚持走下去，努力给自己及家人想要的生活</p>
                </div>

                <div class="col-md-4 footer-widget">
                    <h3> <i class="fa fa-pencil"></i> 待命区域</h3>
                    <ul class="clean-list">
                        <li><a href="javascript:;">Clean - Responsive HTML5 Template</a></li>
                        <!--<li><a href="">Responsive Pricing Table</a></li>-->
                        <!--<li><a href="">Yellow HTML5 Template</a></li>-->
                    </ul>
                </div>

                <div class="col-md-4 footer-widget">
                    <h3> <i class="fa fa-envelope"></i>Contact Me</h3>
                    <p>这里没什么意义，就是占点地方。。。</p>
                    <p>QQ：876691006</p>
                    <p>Email:876691006@qq.com</p>
                    <!--<div class="footer-widget-icon">-->
                        <!--<i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>-->
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>
    <div class="widewrapper copyright">
        版权什么的，是什么鬼
    </div>
    {/block}

</footer>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/modernizr.js"></script>
{block name='js'}{/block}
</body>
</html>